<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Movie</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <style>
        .slika{
            width: 20px;
            height: 20px;
        }
        .container1{
            margin-left: 460px;
            height:350px;
            width:300px;
            padding-top: 50px;
        }
        h2{
            color: wheat;
            font-weight: bold;
        }
        .form-group{
            display: block;
            margin-top: 20px;
        }
        /*#add{*/
        /*    margin-bottom: -10px;*/
        /*}*/
        #body{
            background: #e7ecef;
            margin-top: 30px;
            height: 900px;
        }
        #form{
            margin-top: 30px;
            background: #0b3954;
            border-radius: 7px;
            height:700px;
            width:600px;
            padding-top: 30px;
            font-size: large;
            text-align: center;
            color: whitesmoke;
        }
        .container-fluid{
            font-size: large;
        }
        .container2{
            color: #0b3954;
        }

    </style>
</head>
<body>
<th:block xmlns:th="http://www.thymeleaf.org">
    <div id="body">
        <div class="container1 align-items-center">
                <form id="form" action="/movies/add" method="POST">
                    <h2>Movie form</h2>
                    <input id="id" type="hidden" name="id" th:value="(${movie} != null ? ${movie.getId()} : '')">
                    <div class="form-group">
                        <label for="name">Movie name</label>
                        <input type="text"
                               class="form"
                               id="name"
                               name="name"
                               th:value="(${movie} != null ? ${movie.getName()} : '')"
                               required
                        style="width: 250px">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text"
                               class="form"
                               id="description"
                               name="description"
                               th:value="(${movie} != null ? ${movie.getDescription()} : '')"
                               required
                               style="width: 250px">
                    </div>

                    <div class="form-group">
                        <label>Category</label>
                        <select name="category" class="form" style="width: 250px">
                            <option th:if="${movie} != null"
                                    th:selected="${movie.getCategory() != null &&
                                movie.getCategory().getId() == cat.getId()}"
                                    th:each="cat : ${categories}"
                                    th:value="${cat.getId()}"
                                    th:text="${cat.getName()}">
                            </option>
                            <option th:if="${movie} == null"
                                    th:each="cat : ${categories}"
                                    th:value="${cat.getId()}"
                                    th:text="${cat.getName()}">
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Director</label>
                        <select name="director" class="form" style="width: 250px">
                            <option th:if="${movie} != null"
                                    th:selected="${movie.getDirector() != null && movie.getDirector().getEmbg() == dir.getEmbg()}"
                                    th:each="dir : ${directors}"
                                    th:value="${dir.getEmbg()}"
                                    th:text="${dir.getName()}">
                            </option>
                            <option th:if="${movie} == null"
                                    th:each="dir : ${directors}"
                                    th:value="${dir.getEmbg()}"
                                    th:text="${dir.getName()}">
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="premiereStart">Premiere Start</label>
                        <input type="datetime-local"
                               class="form"
                               id="premiereStart"
                               name="premiereStart"
                               th:value="(${movie} != null ? ${movie.getPremiereStart()} : '')"
                               style="width: 250px">
                    </div>
                    <div class="form-group">
                        <label for="premiereEnd">Premiere End</label>
                        <input type="datetime-local"
                               class="form"
                               id="premiereEnd"
                               name="premiereEnd"
                               th:value="(${movie} != null ? ${movie.getPremiereEnd()} : '')"
                               style="width: 250px">
                    </div>

                    <div class="form-group">
                        <label for="ticketsNum">Number of tickets</label>
                        <input type="text"
                               class="form"
                               id="ticketsNum"
                               name="ticketsNum"
                               th:value="(${movie} != null ? ${movie.getTickets().size()} : '')"
                               required
                               style="width: 250px">
                    </div>

                    <div class="form-group">
                        <label for="ticketPrice">Ticket price</label>
                        <input type="text"
                               class="form"
                               id="ticketPrice"
                               name="ticketPrice"
                               th:value="(${movie} != null ? ${movie.getTickets().get(0).getPrice()} : '')"
                               required
                               style="width: 250px">
                    </div>

                    <div class="form-group">
                        <label for="url">Url</label>
                        <input type="text"
                               class="form"
                               id="url"
                               name="url"
                               th:value="(${movie} != null ? ${movie.getUrl()} : '')"
                               required
                               style="width: 250px">
                    </div>

                    <button id="submit" type="submit"class="btn btn-light btn-lg" style="color: #0b3954">Submit</button>
                </form>
        </div>
    </div>
</th:block>
</body>
</html>

