<head>
    <style>
        .slika{
            width: 20px;
            height: 20px;
        }
        .container-fluid{
            font-size: large;
        }
        .container2{
            color: #0b3954;
        }
    </style>
</head>
<div xmlns:th="http://www.thymeleaf.org">

    <section class="jumbotron text-center" style="color: wheat; background-color: #0b3954">
        <div class="container">
            <h1 class="jumbotron-heading" style="font-weight: bold">Subscribed users in
                <th:block th:text="${subscription.getName()}"></th:block>
            </h1>
        </div>
    </section>

    <div class="container mb-4">
        <div class="row">
            <div class="col-12" >
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr style="color: #0b3954; text-align: center; font-size: 20px">
                            <th scope="col">Users</th>

                        </tr>
                        </thead>
                        <tbody style="text-align: center">
                        <tr th:each="u:${users}" class="cart-item">
                            <td th:text="${u.getName()}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
